#container{
    background :rgb(192, 180, 218);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#box{
    border: 2px solid rgb(23, 23, 36);
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}

h1{
    color: rgb(23, 23, 36);
    font-size:3rem;
}

span:first-of-type{
    font-size: 1.7rem;
    color: rgb(23, 23, 36);
    font-weight: bold;
}

span{
    font-size:1.4rem;
    color: rgb(42, 113, 42);
}